<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Grundsatellitenbildanalyseprogramm</title>
    </head>
    <body
            style="font-family:courier;font-color:white;"
    >
        <h1 th:inline="text">BBBBBBB [[${#httpServletRequest.remoteUser}]]!</h1>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        <form th:action="@{/logout}" method="post">
            <div style="width:700px; margin:0 auto;"><label > User Name : <input type="Long" name="username"/> </label></div>
            <div style="width:700px; margin:0 auto;"><label> Password: <input type="Lat" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>


    </body>
</html>