<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Grundsatellitenbildanalyseprogramm</title>
    <meta http-equiv="Content-Type" lat="text/html; charset=UTF-8" />
</head>
<body
        bgcolor="#f6f8e6"
        style="font-family:courier;font-color:white;"
>
	<h1>Grundsatellitenbildanalyseprogramm</h1>
    <form action="#" th:action="@{/main}" th:object="${main}" method="post">

        <div style="width:700px; margin:0 auto;"> Enter coordinates:</div>
        <table style="width:700px; margin:0 auto;" border="0">
            <tr>
                <td> Lon: </td>
                <td> <input type="text" th:field="*{lon}" /> </td>
            </tr>
            <tr>
                <td> Lat: </td>
                <td> <input type="text" th:field="*{lat}" /> </td>
            </tr>
            <tr>
                <td> rad: </td>
                <td> <input type="text" th:field="*{rad}" /> </td>
            </tr>
        </table>
        <div style="width:700px; margin:0 auto;"> <input type="submit" value="Go!" /> </div>
    </form>

</body>
</html>

<!--<p>Lon: <input type="text" th:field="*{lon}" /></p>
        <p>Lat: <input type="text" th:field="*{lat}" /></p>
        <p>rad: <input type="text" th:field="*{rad}" /></p>-->
